<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Product List</title>
</head>

<body>
<div>
    <a class="nav-link active" th:href="@{/product/create}">Create
    </a>
</div>
<div width="100%">
    <table class="table table-bordered table-striped" width="100%" border="1">
        <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Action</td>
        </tr>
        </thead>
        <tbody>

        <tr th:each="product : ${products}">
            <td th:text="${product.getId()}">1</td>
            <td th:text="${product.getName()}">Text ...</td>
            <td><a class="nav-link active" th:href="@{'/product/delete?id=' + ${product.getId()}}">Delete</a>
            &nbsp;<a class="nav-link active" th:href="@{'/product/edit?id=' + ${product.getId()}}">Edit</a>
                &nbsp;
                <a class="nav-link active" th:href="@{'/product/details?id=' + ${product.getId()}}">Details</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>